<section class="devise__grid_container">
  <h2>Sign up</h2>

  <div class="sign_up">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :name, placeholder: "Name", autofocus: true, class: 'txt_input', autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder: "Email Address", autofocus: true, class: 'txt_input', autocomplete: "email" %>
      </div>

      <div class="pwd_field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, placeholder: "Password (6 characters minimum)", class: 'txt_input', autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: 'txt_input', autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'bttn_signup' %>
      </div>
    <% end %>
    <div class="shared_links">
      <%= render "devise/shared/links" %>
      <div class="shared_links">
  </div>
</section>
